:root{
    --primary-color:#6C63FF;
    --sacondary-color:#f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.about-me-heading{
    margin-top: 100px;
    font-size: 96px;
    
}
h3 {
    font-size: 24px;
    opacity: 0.7;
    margin: 0;
}
.paragraph-about-me{
    font-size: 18px;
    line-height: 1.5;
    margin: 30px;
}
.sacondary-h2{
    font-size: 48px;
}
.email-link{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}
@media(max-width:576px){
    body{
        padding: 5px;
    }
    .about-me-heading{
        font-size: 48px;
    }
    h3, .email-link{
        font-size: 20px;
    }
    .sacondary-h2{
        font-size: 35px;
    }
}